{
    "jsxSingleQuote": true,
    "singleQuote": true,
    "semi": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "printWidth": 90,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "useTabs": false,
    "arrowParens": "always",
    "endOfLine": "lf"
}
